<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lightinit.economicinformation.mapper.ragMapper.DatabaseSuffixNameMapper">
  <resultMap id="BaseResultMap" type="com.lightinit.economicinformation.entity.DatabaseSuffixName">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="database_show_name" jdbcType="VARCHAR" property="databaseShowName" />
    <result column="source_database_name" jdbcType="VARCHAR" property="sourceDatabaseName" />
    <result column="database_suffix" jdbcType="VARCHAR" property="databaseSuffix" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, database_show_name, source_database_name, database_suffix
  </sql>
  <select id="selectByExample" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixNameExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_database_suffix_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_database_suffix_name
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_database_suffix_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixNameExample">
    delete from tb_database_suffix_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixName">
    insert into tb_database_suffix_name (id, database_show_name, source_database_name, 
      database_suffix)
    values (#{id,jdbcType=INTEGER}, #{databaseShowName,jdbcType=VARCHAR}, #{sourceDatabaseName,jdbcType=VARCHAR}, 
      #{databaseSuffix,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixName">
    insert into tb_database_suffix_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="databaseShowName != null">
        database_show_name,
      </if>
      <if test="sourceDatabaseName != null">
        source_database_name,
      </if>
      <if test="databaseSuffix != null">
        database_suffix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="databaseShowName != null">
        #{databaseShowName,jdbcType=VARCHAR},
      </if>
      <if test="sourceDatabaseName != null">
        #{sourceDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="databaseSuffix != null">
        #{databaseSuffix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixNameExample" resultType="java.lang.Long">
    select count(*) from tb_database_suffix_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_database_suffix_name
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.databaseShowName != null">
        database_show_name = #{record.databaseShowName,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceDatabaseName != null">
        source_database_name = #{record.sourceDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.databaseSuffix != null">
        database_suffix = #{record.databaseSuffix,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_database_suffix_name
    set id = #{record.id,jdbcType=INTEGER},
      database_show_name = #{record.databaseShowName,jdbcType=VARCHAR},
      source_database_name = #{record.sourceDatabaseName,jdbcType=VARCHAR},
      database_suffix = #{record.databaseSuffix,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixName">
    update tb_database_suffix_name
    <set>
      <if test="databaseShowName != null">
        database_show_name = #{databaseShowName,jdbcType=VARCHAR},
      </if>
      <if test="sourceDatabaseName != null">
        source_database_name = #{sourceDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="databaseSuffix != null">
        database_suffix = #{databaseSuffix,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lightinit.economicinformation.entity.DatabaseSuffixName">
    update tb_database_suffix_name
    set database_show_name = #{databaseShowName,jdbcType=VARCHAR},
      source_database_name = #{sourceDatabaseName,jdbcType=VARCHAR},
      database_suffix = #{databaseSuffix,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>